.mood{
    display:flex;
    justify-content:start;
  
}
body{
    background-color: rgb(61, 104, 113);
}
.about{
    background-color: rgb(61, 104, 113);
    opacity: 0.9;
}
.img{
    width:50%;
}
h6 span{
    color:rgb(73, 32, 32);
}
li{
    font-family:verdana;
    font-size: small;
    font-weight: 50;
}
h4{
    color:rgb(27, 23, 61);
}
.vik{
    font-family: 'Courier New', Courier, monospace;
    color:rgb(53, 10, 10);
    font-weight:bold
}